*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h2{
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.producto h3{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h4{
    width: 39px;
    height: 28px;
    background-color: #DF1683;
    margin-top: -2px;
    margin-left: 139px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: 12px;
    line-height: 18px;
    border-radius: 2px;
}
.listado_productos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.producto .icon{
    position: absolute;
    left: 200px;
    right: 85.68%;
    top: 12.61%;
}

.producto{
    width: 178px;
    Height: 259px;
    margin-right: 10px;
    margin-left:  10px;
    box-shadow: 1px 1px 10px #c3b9b9;
    border-radius: 8px;
}

.producto .info_producto{
    margin-left: 8px;
}
.producto .tamano_pack{
    font-weight: 400;   
    font-family: 'Poppins', sans-serif; 
    font-size: 10px;
    line-height: 15px;
    color:#9B9B9B;
}
.producto .precio_antes{
    font-weight: 400;   
    font-family: 'Poppins', sans-serif; 
    font-size: 12px;
    text-decoration-line: line-through;
    line-height: 18px;
    color: rgba(122, 122, 122, 0.4);
}
.producto .precio_despues{
    font-weight: 400;   
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    line-height: 21px;
    color: #7A7A7A;
}

.producto:first-child{
    margin-left: none;
}

.producto:last-child{
    margin-right: none;
}

.producto img{
    display: block;
    margin:auto;
}


span{
    display: block;
}

.button a{
    background-color: #00A5B5;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.button img{
   
}
